.fa-trash-alt:hover{
  cursor: pointer;
}
.alto{
  height: calc(100vh - 57px - 56px);
}
.font{
  font-size: 25px;
}
.separator{
  background-color: red;
}
.navbar{
  background-color: black;
}
.footer{
  background-color: black;
}

